.footer  {
    background: rgb(27, 27, 27);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: smaller;
    margin: 0;
    direction: rtl;
    border-top: 1px solid white;
  
}


#hazharatNegishutLink{
 
        display: block;
        margin-top: 8px;
        color: white;
    
    
}

@media only screen and (max-width: 768px) {
    .footer p{
position: relative;
right: 10px;
    }
}