#reviewsContainer {
  width: 100%;
  border-radius: 16px;
  margin-top: 65px;

}



#reviewsCarousel {
  scroll-behavior: auto;
  /* למנוע שינוי נקודת האפס */
  overflow-x: auto;
  cursor: grab;
}


#reviewsCarousel::-webkit-scrollbar {
  display: none;
}


#carouselInner {
  display: inline-flex;
  align-items: stretch;
  padding: 10px 0;
}

#carouselInner:active {
  cursor: grabbing;

  /* Firefox */
}

.reviewCard {
  background: rgba(0, 0, 0, 0.7);
  /* backdrop-filter: blur(6px); */
  color: #ffffff;

  border-radius: 12px;
  padding: 20px;
  min-width: 10%;
  max-width: 20%;
  height: 100%;
  margin: 10px;
  flex-shrink: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, background 0.3s ease;
  direction: rtl;
}

.long-review {
  background: rgba(0, 0, 0, 0.7);
  /* backdrop-filter: blur(6px); */
  color: #ffffff;

  border-radius: 12px;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
height: 60%;
  min-width: 10%;
  max-width: 20%;
  margin: 10px;
  flex-shrink: 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, background 0.3s ease;
  direction: rtl;
}

.reviewCard h3 {
  font-size: 0.85rem;
  font-weight: 600;
  color: #f0f0f0;
}

.long-review h3 {
  font-size: 0.85rem;
  font-weight: 600;
  color: #f0f0f0;
}

.long-review p {
  font-size: 14px;
  line-height: 1.5;
  color: #dddddd;
  margin-top: 5px;

}

.long-review:hover {
  transform: translateY(-5px);
}

.long-review div {
    color: #ffcc00;
    padding: 0;
   

}

.reviewCard:hover {
  transform: translateY(-5px);
}



.reviewCard p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #dddddd;
  margin-top: 5px;

  

}

.reviewCard div {
  font-size: 0.7rem;
  color: #ffcc00;

}

.reviewCard:active {
  cursor: grabbing;
  /* Firefox */
}


#nameStar {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
 margin-bottom: 2px;
  }

#stars {
  margin-right: 10px;
  font-size: 16px;
  color: orange;
  position: relative;
  top: 5.5px
}



@media only screen and (max-width: 768px) {

  .reviewCard p {
    font-size: 0.90rem;
  
  }

  .long-review p{
    font-size: 12.5px;
   
  }
  
  .reviewCard{
    max-width:55%;
    height: 60%;
    
    direction: rtl;
  }

  .reviewCard:hover {
  transform: none;
  }

  .long-review{
    max-width:55%;
    height: 60%;
  
    direction: rtl;
  }

  .long-review:hover {
    transform: none;
 
  }
  #reviewsContainer{
    margin-top: 15px;
  }
  
}